/* Variables y reseteo */

:root {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(254, 254, 254);
  --tertiary-color: rgb(205, 36, 41);
  --primary-font-family: Verdana, Geneva, Tahoma, sans-serif;
  --secondary-font-family: monospace;
  --std-spacing: 20px;
  --small-spacing: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

body {
  background-color: rgb(32, 32, 32);
  font-family: var(--secondary-font-family);
  color: var(--secondary-color);
  margin-top: var(--std-spacing);
}

/* Header */

header {
  width: 80%;
  min-width: 360px;
  background-color: var(--primary-color);
  margin: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

header > nav {
  padding: var(--std-spacing);
  display: flex;
  font-size: 1.25rem;
  justify-content: space-between;
  align-items: center;
}

header > nav > a > img {
  width: 200px;
}

header > nav > ul {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

header > nav > ul > li {
  padding: var(--small-spacing);
  border-bottom: 4px solid var(--primary-color);
}

header > nav > ul > li:hover {
  background-color: var(--primary-color);
  border-bottom: 4px solid var(--tertiary-color);
}

header > nav > a:last-child {
  text-align: center;
  align-content: center;
  background-color: rgb(32, 32, 32);
  color: var(--secondary-color);
  padding: var(--small-spacing);
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
}

header > nav > a:last-child:hover {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border: 2px solid var(--tertiary-color);
}

header > section {
  background-image: url(./assets/images/background\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  height: 600px;
  color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 50px;
  gap: var(--std-spacing);
}

header > section > h1 {
  font-family: var(--primary-font-family);
  font-size: 3rem;
}

header > section > p {
  font-size: 1.25rem;
}

header > section > div {
  width: 25%;
  display: flex;
  justify-content: center;
}

header > section > div > a {
  padding: var(--small-spacing);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  font-family: var(--primary-font-family);
  color: var(--primary-color);
  font-size: 1.25rem;
}

header > section > div > a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 2px solid var(--tertiary-color);
  border-radius: 10px;
}